<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="SportsCup - Bootstrap 4 Theme for Sports">
    <meta name="author" content="iwthemes.com">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/assets/css/main.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" href="~/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="~/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/icons/apple-touch-icon-114x114.png">
</head>
<body>
    <div id="layout">

        <header class="header-2">

            <div class="headerbox">
                <div class="container">
                    <div class="row justify-content-between align-items-center">

                        <div class="col col-xl-2">
                            <div class="logo">
                                <a href="/index" title="Return Home">
                                    <img src="/img/logo.png" alt="Logo" class="logo_img">
                                </a>
                            </div>
                        </div>


                        <div class="col col-xl-10">

                            <nav class="mainmenu">
                                <div class="container">

                                    <ul class="sf-menu" id="menu">
                                        <li class="current">
                                            <a href="/index">Home</a>
                                        </li>
                                        <li class="current">
                                            <a href="#">Premier League</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a href="/Epl/Teams">Teams List</a>
                                                </li>
                                                <li>
                                                    <a href="/Epl/Fixtures">Fixtures</a>
                                                </li>
                                                <li>
                                                    <a href="#">Result</a>
                                                </li>
                                                <li>
                                                    <a href="/Epl/Table">Table</a>
                                                </li>
                                            </ul>
                                        </li>
                                        @*<li class="current">
                                            <a href="/tournament/laliga">Laliga</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a href="#">Teams List</a>
                                                </li>
                                                <li>
                                                    <a href="#">Fixtures</a>
                                                </li>
                                                <li>
                                                    <a href="#">Result</a>
                                                </li>
                                                <li>
                                                    <a href="#">Table</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                        <li>
                                            <a href="/Result">Recent Result</a>
                                        </li>
                                        <li>
                                            <a href="/Fixture/Today">Today fixtures</a>
                                        </li>
                                        <li class="current">
                                            <a href="/Live">On live</a>
                                        </li>
                                        <i class="fa fa-fire" style="color:red"></i>
                                        @if (Context.Session.GetString("user") != null || Context.Session.GetString("admin") != null)
                                        {
                                            <li class="logout">
                                                <a href="logout">Logout</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="login">
                                                <a href="login">Login</a>
                                            </li>
                                            <li class="current">
                                                <a href="register">Register</a>
                                            </li>
                                        }
                                    </ul>

                                </div>
                            </nav>


                            <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>

                        </div>

                    </div>
                </div>
            </div>

        </header>


        <div id="mobile-nav">

            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <ul>
                        <li>
                            <a href="index-1.html">Home 1</a>
                        </li>
                        <li>
                            <a href="index-2.html">Home 2</a>
                        </li>
                        <li>
                            <a href="index-3.html">Home 3</a>
                        </li>
                        <li>
                            <a href="index-4.html">Home 4</a>
                        </li>
                        <li>
                            <a href="index-5.html">Home 5</a>
                        </li>
                        <li>
                            <a href="index-6.html">Home 6</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">World Cup</a>
                    <ul>
                        <li>
                            <a href="#">World Cup</a>
                            <ul>
                                <li><a href="table-point.html">Point Table</a></li>
                                <li><a href="fixtures.html">Fixtures</a></li>
                                <li><a href="groups.html">Groups</a></li>
                                <li><a href="news-left-sidebar.html">News</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="teams.html">Teams List</a></li>
                        <li><a href="players.html">Players List</a></li>
                        <li><a href="results.html">Results List</a></li>
                    </ul>
                </li>
                <li>
                    <a href="teams.html">Teams</a>
                    <ul>
                        <li>
                            <a href="teams.html">Teams List</a>
                        </li>
                        <li>
                            <a href="single-team.html">Single Team</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="players.html">Players</a>
                    <ul>
                        <li>
                            <a href="players.html">Players List</a>
                        </li>
                        <li>
                            <a href="single-player.html">Single Player</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="fixtures.html">Fixtures</a>
                </li>
                <li>
                    <a href="results.html">Results</a>
                    <ul>
                        <li>
                            <a href="results.html">Results List</a>
                        </li>
                        <li>
                            <a href="single-result.html">Single Result</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="table-point.html">Point Table</a>
                </li>
                <li>
                    <a href="groups.html">Groups</a>
                </li>
                <li>
                    <a href="#">Features</a>
                    <ul>
                        <li>
                            <a href="#">Features</a>
                            <ul>
                                <li><a href="page-full-width.html">Full Width</a></li>
                                <li><a href="page-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="page-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                                <li><a href="page-faq.html">FAQ</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="page-pricing.html">Pricing</a></li>
                                <li><a href="page-register.html">Register Form</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Headers & Footers</a>
                            <ul>
                                <li><a href="feature-header-footer-1.html">Header Version 1</a></li>
                                <li><a href="feature-header-footer-2.html">Header Version 2</a></li>
                                <li><a href="feature-header-footer-3.html">Header Version 3</a></li>
                                <li><a href="index-5.html">Header Version 4</a></li>
                                <li><a href="feature-header-footer-1.html#footer">Footer Version 1</a></li>
                                <li><a href="feature-header-footer-2.html#footer">Footer Version 2</a></li>
                                <li><a href="feature-header-footer-3.html#footer">Footer Version 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="single-player.html">About Me</a></li>
                                <li><a href="feature-header-footer-2.html#footer">Services</a></li>
                                <li><a href="single-team.html">Club Info</a></li>
                                <li><a href="single-result.html">Match Result</a></li>
                                <li><a href="table-point.html">Positions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">News</a>
                            <ul>
                                <li>
                                    <a href="news-left-sidebar.html">News Lef Sidebar</a>
                                </li>
                                <li>
                                    <a href="news-right-sidebar.html">News Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="news-no-sidebar.html">News No Sidebar</a>
                                </li>
                                <li>
                                    <a href="single-news.html">Single News</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>

        </div>

        @RenderBody()
    </div>



    <footer id="footer">

        <div class="top-footer">

            <div class="col-lg-12">
                <div class="logo-footer">
                    <h2>Sports Cup</h2>
                </div>
            </div>


            <ul class="social">
                <li>
                    <div>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#" class="twitter-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#" class="vimeo">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#" class="google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                </li>
            </ul>

        </div>


        <div class="links-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-md-5 col-sm-5">
                        <div class="info-links">
                            <h5>Organisation</h5>
                            <ul>
                                <li><a href="#">Volunteers</a></li>
                                <li><a href="#">Committees</a></li>
                                <li><a href="#">Official Documents</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-7 col-sm-7">
                        <div class="info-links">
                            <h5>Groups</h5>
                            <ul class="columns">
                                <li><a href="#">GROUP A</a></li>
                                <li><a href="#">GROUP B</a></li>
                                <li><a href="#">GROUP C</a></li>
                                <li><a href="#">GROUP D</a></li>
                                <li><a href="#">GROUP E</a></li>
                                <li><a href="#">GROUP F</a></li>
                                <li><a href="#">GROUP G</a></li>
                                <li><a href="#">GROUP H</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-5 col-sm-5">
                        <div class="info-links">
                            <h5>Interest Links</h5>
                            <ul>
                                <li><a href="#">Statistics</a></li>
                                <li><a href="#">Teams</a></li>
                                <li><a href="#">Qualifiers</a></li>
                                <li><a href="#">Ticketing</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-7 col-sm-7">
                        <div class="info-links">
                            <h5>Organisation</h5>
                            <ul class="columns">
                                <li><a href="#">NIZHNY NOVGOROD</a></li>
                                <li><a href="#">SAINT PETERSBURG</a></li>
                                <li><a href="#">EKATERINBURG</a></li>
                                <li><a href="#">MOSCOW</a></li>
                                <li><a href="#">KAZAN</a></li>
                                <li><a href="#">KALININGRAD</a></li>
                                <li><a href="#">VOLGOGRAD</a></li>
                                <li><a href="#">ROSTOV-ON-DON</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>


    <div class="footer-down">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2018 SportsCup . All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>



    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/jquery.js"></script>

    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/popper.min.js"></script>

    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/bootstrap.min.js"></script>

    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/theme-scripts.js"></script>

    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/theme-main.js"></script>

    <script type="c92f5323a10c5e53410e0ae8-text/javascript" src="~/assets/js/myJS.js"></script>

    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="c92f5323a10c5e53410e0ae8-|49" defer=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>