USE [master]
GO
/****** Object:  Database [ProjectPRN231]    Script Date: 3/26/2023 6:55:08 PM ******/
CREATE DATABASE [ProjectPRN231]
GO
USE [ProjectPRN231]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](30) NOT NULL,
	[password] [varchar](18) NOT NULL,
	[full_name] [varchar](30) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[role_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
 CONSTRAINT [PK__Account___46A222CD2E6F8ACD] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match_Scorers]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match_Scorers](
	[statistic_id] [int] NOT NULL,
	[player_id] [int] NOT NULL,
	[score_minutes] [int] NOT NULL,
	[isOwnGoal] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[matches_id] [int] IDENTITY(1,1) NOT NULL,
	[datetime] [datetime] NOT NULL,
	[tournament_id] [int] NOT NULL,
	[team1_id] [int] NOT NULL,
	[team2_id] [int] NOT NULL,
 CONSTRAINT [PK__Matches__85EA4E2F11D9736E] PRIMARY KEY CLUSTERED 
(
	[matches_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[player_name] [varchar](50) NOT NULL,
	[DOB] [date] NULL,
	[nationality] [varchar](50) NOT NULL,
	[position] [varchar](5) NOT NULL,
	[goal] [int] NOT NULL,
	[assist] [int] NOT NULL,
	[height] [int] NOT NULL,
	[img] [varchar](255) NOT NULL,
	[team_id] [int] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_description] [varchar](50) NULL,
 CONSTRAINT [PK__Role__760965CC731F855F] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[statistic_id] [int] IDENTITY(1,1) NOT NULL,
	[team1_goal] [int] NOT NULL,
	[team2_goal] [int] NOT NULL,
	[team1_shoot] [int] NOT NULL,
	[team2_shoot] [int] NOT NULL,
	[team1_ontarget] [int] NOT NULL,
	[team2_ontarget] [int] NOT NULL,
	[team1_possession] [float] NOT NULL,
	[team2_possession] [float] NOT NULL,
	[team1_corner] [int] NOT NULL,
	[team2_corner] [int] NOT NULL,
	[matches_id] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[statistic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_description] [varchar](50) NULL,
 CONSTRAINT [PK__Status__3683B53136E0CF90] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[team_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[stadium] [varchar](50) NOT NULL,
	[logo] [varchar](100) NOT NULL,
	[location] [varchar](50) NULL,
	[site] [varchar](50) NULL,
	[tournament_id] [int] NOT NULL,
 CONSTRAINT [PK__Team__F82DEDBCFF37A99A] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 3/26/2023 6:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[tournament_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](70) NULL,
 CONSTRAINT [PK__Tourname__B93AA09DEABDCFEC] PRIMARY KEY CLUSTERED 
(
	[tournament_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [user_name], [password], [full_name], [created_date], [role_id], [status_id]) VALUES (1, N'egamorft', N'123', N'huy tung', CAST(N'1905-06-22T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Account] ([account_id], [user_name], [password], [full_name], [created_date], [role_id], [status_id]) VALUES (2, N'tung', N'123', N'tung huy ', CAST(N'2023-03-16T16:03:32.790' AS DateTime), 2, 1)
INSERT [dbo].[Account] ([account_id], [user_name], [password], [full_name], [created_date], [role_id], [status_id]) VALUES (3, N'duc', N'123', N'minh', CAST(N'2023-03-16T16:03:54.150' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Match_Scorers] ([statistic_id], [player_id], [score_minutes], [isOwnGoal]) VALUES (1, 25, 9, 0)
INSERT [dbo].[Match_Scorers] ([statistic_id], [player_id], [score_minutes], [isOwnGoal]) VALUES (1, 25, 80, 0)
INSERT [dbo].[Match_Scorers] ([statistic_id], [player_id], [score_minutes], [isOwnGoal]) VALUES (1, 26, 47, 0)
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([matches_id], [datetime], [tournament_id], [team1_id], [team2_id]) VALUES (1, CAST(N'2023-03-05T00:00:00.000' AS DateTime), 4, 1, 3)
INSERT [dbo].[Matches] ([matches_id], [datetime], [tournament_id], [team1_id], [team2_id]) VALUES (3, CAST(N'2023-03-07T23:30:00.000' AS DateTime), 4, 4, 5)
INSERT [dbo].[Matches] ([matches_id], [datetime], [tournament_id], [team1_id], [team2_id]) VALUES (5, CAST(N'2023-03-07T21:00:00.000' AS DateTime), 4, 6, 7)
SET IDENTITY_INSERT [dbo].[Matches] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([player_id], [player_name], [DOB], [nationality], [position], [goal], [assist], [height], [img], [team_id]) VALUES (1, N'David De Gea', CAST(N'1990-07-11' AS Date), N'ESP', N'GK', 0, 0, 192, N'degea.png', 1)
INSERT [dbo].[Players] ([player_id], [player_name], [DOB], [nationality], [position], [goal], [assist], [height], [img], [team_id]) VALUES (2, N'Raphaël Varane', CAST(N'1993-04-25' AS Date), N'FRA', N'DF', 1, 0, 191, N'varane.png', 1)
INSERT [dbo].[Players] ([player_id], [player_name], [DOB], [nationality], [position], [goal], [assist], [height], [img], [team_id]) VALUES (3, N'Diogo Dalot', CAST(N'1999-03-18' AS Date), N'POR', N'DF', 2, 2, 183, N'dalot.png', 1)
GO
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_description]) VALUES (1, N'User')
INSERT [dbo].[Role] ([role_id], [role_description]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Statistics] ON 

INSERT [dbo].[Statistics] ([statistic_id], [team1_goal], [team2_goal], [team1_shoot], [team2_shoot], [team1_ontarget], [team2_ontarget], [team1_possession], [team2_possession], [team1_corner], [team2_corner], [matches_id]) VALUES (1, 0, 5, 7, 18, 3, 12, 35.4, 76.7, 5, 9, 1)
INSERT [dbo].[Statistics] ([statistic_id], [team1_goal], [team2_goal], [team1_shoot], [team2_shoot], [team1_ontarget], [team2_ontarget], [team1_possession], [team2_possession], [team1_corner], [team2_corner], [matches_id]) VALUES (2, 1, 2, 8, 12, 5, 11, 30.2, 82, 6, 4, 3)
INSERT [dbo].[Statistics] ([statistic_id], [team1_goal], [team2_goal], [team1_shoot], [team2_shoot], [team1_ontarget], [team2_ontarget], [team1_possession], [team2_possession], [team1_corner], [team2_corner], [matches_id]) VALUES (3, 2, 3, 5, 8, 1, 7, 45.5, 78.9, 3, 4, 5)
SET IDENTITY_INSERT [dbo].[Statistics] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([status_id], [status_description]) VALUES (1, N'active')
INSERT [dbo].[Status] ([status_id], [status_description]) VALUES (2, N'inactive')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([team_id], [name], [stadium], [logo], [location], [site], [tournament_id]) VALUES (1, N'Manchester United', N'Old Trafford', N'ManUTD.png', N'Manchester', N'www.manutd.com ', 4)
INSERT [dbo].[Team] ([team_id], [name], [stadium], [logo], [location], [site], [tournament_id]) VALUES (2, N'Barcelona', N'Nou Camp', N'Barcelona.png', NULL, NULL, 9)
INSERT [dbo].[Team] ([team_id], [name], [stadium], [logo], [location], [site], [tournament_id]) VALUES (3, N'Liverpool', N'Anfield', N'Liverpool.png', N'Liverpool', N'www.liverpoolfc.com ', 4)
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([tournament_id], [name], [description]) VALUES (4, N'Premier League', N'highest division of the football league system in England')
INSERT [dbo].[Tournament] ([tournament_id], [name], [description]) VALUES (9, N'Laliga', N'Spain Football Leagh')
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_role_id]  DEFAULT ((2)) FOR [role_id]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_status_id]  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Match_Scorers] ADD  CONSTRAINT [DF_Match_Scorers_isOwnGoal]  DEFAULT ((0)) FOR [isOwnGoal]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Players_img]  DEFAULT ('unknownPlayer.png') FOR [img]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_logo]  DEFAULT (N'unknownClub.png') FOR [logo]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account___role_i__2C3393D0] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account___role_i__2C3393D0]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account___status__2D27B809] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account___status__2D27B809]
GO
ALTER TABLE [dbo].[Match_Scorers]  WITH CHECK ADD  CONSTRAINT [FK_Match_Scorers_Players] FOREIGN KEY([player_id])
REFERENCES [dbo].[Players] ([player_id])
GO
ALTER TABLE [dbo].[Match_Scorers] CHECK CONSTRAINT [FK_Match_Scorers_Players]
GO
ALTER TABLE [dbo].[Match_Scorers]  WITH CHECK ADD  CONSTRAINT [FK_Match_Scorers_Statistics] FOREIGN KEY([statistic_id])
REFERENCES [dbo].[Statistics] ([statistic_id])
GO
ALTER TABLE [dbo].[Match_Scorers] CHECK CONSTRAINT [FK_Match_Scorers_Statistics]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK__Matches__team_id__31EC6D26] FOREIGN KEY([team1_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK__Matches__team_id__31EC6D26]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK__Matches__team2_i__32E0915F] FOREIGN KEY([team2_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK__Matches__team2_i__32E0915F]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK__Matches__tournam__30F848ED] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[Tournament] ([tournament_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK__Matches__tournam__30F848ED]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Team] FOREIGN KEY([team1_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Team]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Team] FOREIGN KEY([team_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Team]
GO
ALTER TABLE [dbo].[Statistics]  WITH CHECK ADD  CONSTRAINT [FK__Match_Sta__match__33D4B598] FOREIGN KEY([matches_id])
REFERENCES [dbo].[Matches] ([matches_id])
GO
ALTER TABLE [dbo].[Statistics] CHECK CONSTRAINT [FK__Match_Sta__match__33D4B598]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Tournament] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[Tournament] ([tournament_id])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Tournament]
GO
USE [master]
GO
